<!-- index content -->
{% extends "index.html" %}
{% block content %}
<div class="one-third column">
	<div>
		<div class="pick">
		<div><a class="pick-icon1" href="#">pick</a></div>
		</div>
	
	<div class="place-details">
	
		<div class="name1"><a href=#>Place1</a></div>
			<div>
			<div class="address">Tel-Aviv, Neviim 9</div>
			<div class="web-address"> <a href="#">porter.co.il </a></div><br>
			<div class="address"> Tel. 33 333 333</div> 
			<div class="address"> Hours 12:00 - 01:00 </div>
		

			<!--<a class="pick-icon2" href="#" >edit</a>
			<a class="pick-icon3" href="#" >edit</a>*/-->
	</div>
	
	</div>
	</div>
</div>

<div class="two-thirds column  ">
		 
	<!--	<div class="brands-selectable-panel">
		<p>10 brands selected </p>	
		
		<form class="brands-selectable-search">
		<input id="search" type="search" name="search">
		<input type="submit" value="">
		</form>
		</div>-->
		
</div>
	<div>
	<div class="two columns   brands-selectable" >
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
		
	</div>

	<div class="two columns   brands-selectable">
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
	</div>

	<div class="two columns brands-selectable">

	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a> 
 	<a href=# class="plain"> <img src="images/beers/beck's_200.png" style="width:100px;" /></a>
 		
 	</div>

 	<div class="two columns brands-selectable">
 	<a href=# class="plain"> <img src="images/beers/gosser_200.png" style="width:100px;" /></a>
 	<a href=# class="plain"> <img src="images/beers/heineken_200.png" style="width:100px;" /></a>
 	
 	</div>

 	<div class="two columns brands-selectable">
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>

	</div>
	</div>



<div class="one-third column">
	<div>
		<div class="pick">
		<div><a class="pick-icon1" href="#">pick</a></div>
		</div>
	
	<div class="place-details">
	
		<div class="name1"><a href=#>Place1</a></div>
			<div>
			<span class="address">Tel-Aviv, Neviim 9</span>
			<a class="pick-icon2" href="#" >edit</a>
			<a class="pick-icon3" href="#" >edit</a>
	</div>
	</div>
	</div>
</div>

<div class="two-thirds column" >
		 
	<!--	<div class="brands-selectable-panel">
		<p>10 brands selected </p>	
		
		<form class="brands-selectable-search">
		<input id="search" type="search" name="search">
		<input type="submit" value="">
		</form>
		</div>-->
		
</div>
	
	<div class="two columns   brands-selectable" >
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
		
	</div>

	<div class="two columns   brands-selectable">
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
	</div>

	<div class="two columns brands-selectable">

	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a> 
 	<a href=# class="plain"> <img src="images/beers/beck's_200.png" style="width:100px;" /></a>
 		
 	</div>

 	<div class="two columns brands-selectable">
 	<a href=# class="plain"> <img src="images/beers/gosser_200.png" style="width:100px;" /></a>
 	<a href=# class="plain"> <img src="images/beers/heineken_200.png" style="width:100px;" /></a>
 	
 	</div>

 	<div class="two columns brands-selectable">
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>

	</div>
	
{% endblock %}