{% extends "index.html" %}
{% block content %}
	<div class="sixteen columns" >
	<div>
		<div class="pick">
		<div><a class="pick-icon1" href="#">pick</a></div>
		</div>
	
	<div class="place-details">
	
		<div class="name1"><a href=#>Place1</a></div>
			<div>
			<span class="address">Tel-Aviv, Neviim 9</span>
			<a class="pick-icon2" href="#" >edit</a>
			<a class="pick-icon3" href="#" >edit</a>
	</div>
	</div>
	</div>
	</div>

	<div class="two-thirds column left">
		<p>To add brands to the  Brand List of the Place click  on brand image </p> 
		<div class="brands-selectable-panel">
		<p>150  brands totally </p>	
		
		<form class="brands-selectable-search">
		<input id="search" type="search" name="search">
		<input type="submit" value="">
		</form>
		
	</div>

	<div class="two columns   brands-selectable left">
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a> 
 	<a href=# class="plain"> <img src="images/beers/beck's_200.png" style="width:100px;" /></a>
 	<a href=# class="plain"> <img src="images/beers/gosser_200.png" style="width:100px;" /></a>
 	<a href=# class="plain"> <img src="images/beers/heineken_200.png" style="width:100px;" /></a>
 	<a href=# class="plain"> <img src="images/beers/estrella_damm_200.png" style="width:100px;" /></a>
	</div>

	<div class="two columns   brands-selectable">
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a> 
 	<a href=# class="plain"> <img src="images/beers/beck's_200.png" style="width:100px;" /></a>
 	<a href=# class="plain"> <img src="images/beers/gosser_200.png" style="width:100px;" /></a>
 	<a href=# class="plain"> <img src="images/beers/heineken_200.png" style="width:100px;" /></a>
 	<a href=# class="plain"> <img src="images/beers/estrella_damm_200.png" style="width:100px;" /></a>
	</div>
	<div class="two columns brands-selectable">

	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a> 
 	<a href=# class="plain"> <img src="images/beers/beck's_200.png" style="width:100px;" /></a>
 	<a href=# class="plain"> <img src="images/beers/gosser_200.png" style="width:100px;" /></a>
 	<a href=# class="plain"> <img src="images/beers/heineken_200.png" style="width:100px;" /></a>
 	<a href=# class="plain"> <img src="images/beers/estrella_damm_200.png" style="width:100px;" /></a>
 	</div>

 	<div class="two columns brands-selectable">
 	<a href=# class="plain"> <img src="images/beers/gosser_200.png" style="width:100px;" /></a>
 	<a href=# class="plain"> <img src="images/beers/heineken_200.png" style="width:100px;" /></a>
 	<a href=# class="plain"> <img src="images/beers/estrella_damm_200.png" style="width:100px;" /></a>
 	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
 	</div>

 	<div class="two columns brands-selectable">
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a>
	<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width:100px;" /></a> 
 	<a href=# class="plain"> <img src="images/beers/beck's_200.png" style="width:100px;" /></a>
 	<a href=# class="plain"> <img src="images/beers/gosser_200.png" style="width:100px;" /></a>
 	<a href=# class="plain"> <img src="images/beers/heineken_200.png" style="width:100px;" /></a>
	<a href=# class="plain"> <img src="images/beers/estrella_damm_200.png" style="width:100px;" /></a>
	</div>

	

	</div> 


	<div class="one-third column">
		<p> Brand List</p>
		

		<div class="brands-selected-panel">
		<p>3  brands selected </p>	
		
		<form class="brands-selected-clear-all">
		<input type="submit" value="Clear All">
		</form>
		
		</div>


		<form class=" brands-selected">
		<ul >
			<li><a href="#">Beer Brand1</a> <input type="submit" value=""></li>
			<li><a href="#">Beer Brand1</a> <input type="submit" value=""></li>
			<li><a href="#">Beer Brand1</a> <input type="submit" value=""></li>
			<li><a href="#">Beer Brand1</a> <input type="submit" value=""></li>
		</ul>
		</form>
	</div> 
{% endblock %}