{% extends "index.html" %}\
{% block content %} 
 	<div class="sixteen columns">
		<h1 class="name1">Create New Brand<br></h1>


	
		<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width 110%" alt="" /></a>
		

		<form class="image-edit">
		<input type="submit" value="Add Image">
		</form>
	
	<div class="form-content">
	
	<form id="signup_form" action="#" method="post">	
    <label for="name"> Brand Name:</label>
    <input type="text" name="name" id="name" value="" tabindex="1">
    <label for="tags"> Tags:</label>
   <!-- <div class="field">* -->
   <input type="text" name="tags" id="tags" value="" tabindex="1">
    
		<!--  <label for="continue">Save</label> -->
    <input  type="submit" id="continue" value="Continue">
  
 
</form>
</div>
</div>
{% endblock %}