{% extends "base.html" %}
{% block content %}
<div class="sixteen columns">
	<a href="#" class="edit-place">Edit Place Details</a>
		<ul class=" product-header">
		<li><h4>Place1 </h4></li>
		<li><p class="address"> Tel-Aviv, Neviim st, 10</p></li>
		 </ul>
</div>

<div class="four  columns"> 
<a href=# class="plain"> <img src="images/beers/affligem_200.png" alt="" /></a>
 <a href=# class="plain"> <img src="images/beers/affligem_200.png" alt="" /></a>
 <!-- <div class="image"> -->
 	<a href=# class="plain"> <img src="images/beers/beck's_200.png" alt="" /></a>
 <!-- 	</div> -->  	
 <a href=# class="plain"> <img src="images/beers/gosser_200.png" alt="" /></a>
 <a href=# class="plain"> <img src="images/beers/heineken_200.png" alt="" /></a>
 <a href=# class="plain"> <img src="images/beers/estrella_damm_200.png" alt="" /></a>
 </div>
  <div class="four  columns">
 <a href=# class="plain"> <img src="images/beers/stella_artois_200.png" alt="" /></a>
 <a href=# class="plain"> <img src="images/beers/miller_200.png" alt="" /></a>
 <a href=# class="plain"> <img src="images/beers/guiness_200.png" alt="" /></a>
 <a href=#> <img src="images/beers/duvel_200.png" alt="" /></a>
 <a href=#> <img src="images/beers/affligem_200.png" alt="" /></a>
 
 </div>
 
<div class="four  columns">
 <a href=# class="plain"> <img src="images/beers/kozel_premium_200.png" alt="" /></a>
 <a href=# class="plain"> <img src="images/beers/kozel_svetly_200.png" alt="" /></a>
 <a href=# class="plain"> <img src="images/beers/affligem_200.png" alt="" /></a>
 <a href=#> <img src="images/beers/affligem_200.png" alt="" /></a>
 <a href=#> <img src="images/beers/affligem_200.png" alt="" /></a>
 
 </div> 
 
<div class="four  columns">
 <a href=# class="plain"> <img src="images/beers/affligem_200.png" alt="" /></a>
 <a href=# class="plain"> <img src="images/beers/affligem_200.png" alt="" /></a>
 <a href=# class="plain"> <img src="images/beers/affligem_200.png" alt="" /></a>
 <a href=# class="plain"> <img src="images/beers/affligem_200.png" alt="" /></a>
 <a href=#> <img src="images/beers/affligem_200.png" alt="" /></a>
 
 
</div>

{% endblock %}