{% extends "index.html" %}
{% block content %}
	<div class="sixteen columns">
		<h4 class="name">{{brands}}</h4>
	</div>

	<div class="one-third column left">
		<a href=# class="plain"> <img src="images/beers/affligem_200.png" style="width 110%" alt="" /></a>
	
	<div >
	<p class="tags">
	<a href>beer</a>
	<a href>light</a>
	<a href>German</a>
	<a href>ale</a>
	<a href>8%alcohol</a>
	<a href>beer-beer</a>
	<a href>ale-ale</a>
	<a href>Israel</a>
	</p>

	</div>

		<form class="beer-places-panel">
		<p>Sort by ABC | Location </p>
		
		</form>
	
	<div>
		<div class="pick">
		<div><a class="pick-icon1" href="#">pick</a></div>
		</div>
	
	<div class="place-details">
	
		<div class="name1"><a href=#>Place1</a></div>
			<div>
			<span class="address">Tel-Aviv, Neviim 9</span>
			<a class="pick-icon2" href="#" >edit</a>
			<a class="pick-icon3" href="#" >edit</a>
	</div>
	</div>
	</div>

<div>
		<div class="pick">
		<div><a class="pick-icon1" href="#">pick</a></div>
		</div>
	
	<div class="place-details">
	
		<div class="name1"><a href=#>Place1</a></div>
			<div>
			<span class="address">Tel-Aviv, Neviim 9</span>
			<a class="pick-icon2" href="#" >edit</a>
			<a class="pick-icon3" href="#" >edit</a>
	</div>
	</div>
	</div>

<div>
		<div class="pick">
		<div><a class="pick-icon1" href="#">pick</a></div>
		</div>
	
	<div class="place-details">
	
		<div class="name1"><a href=#>Place1</a></div>
			<div>
			<span class="address">Tel-Aviv, Neviim 9</span>
			<a class="pick-icon2" href="#" >edit</a>
			<a class="pick-icon3" href="#" >edit</a>
	</div>
	</div>
	</div>

<div>
		<div class="pick">
		<div><a class="pick-icon1" href="#">pick</a></div>
		</div>
	
	<div class="place-details">
	
		<div class="name1"><a href=#>Place1</a></div>
			<div>
			<span class="address">Tel-Aviv, Neviim 9 long-long-long-long-long-long</span>
			<a class="pick-icon2" href="#" >edit</a>
			<a class="pick-icon3" href="#" >edit</a>
	</div>
	</div>
	</div>
	
	


	

	</div>
	
	<div class="two-thirds column">
		

		<div class="places ">
			
		
		</div> 
	</div>

{% endblock %}
